# Ignore development and build files
node_modules/
.next/
out/

# Ignore version control files and directories
.git/
.gitignore

# Ignore Docker specific files and directories
Dockerfile
docker-compose.yml
.dockerignore